@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    background-color: white;
}

html, body, .stage--fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#maxValueInput {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

#minValueInput {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    display: inline-block;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

#amountInput {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

#durationValueInput {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

#randomizeButton {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 140);
    color: rgb(0, 0, 0);
}

#bubbleSortButton {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

#selectionSortButton {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

#insertionSortButton {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

#bogoSortButton {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

#stopButton {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(240, 180, 180);
    color: rgb(0, 0, 0);
}

#minValueText {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 1px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#maxValueText {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 1px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#amountText {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 1px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#speedText {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 1px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}